export EDITOR="vim"

{{- /* Add cargo to PATH if it's installed. It is expected that Arch Linux
machines install rustup with their package manager. PKGBUILDs depending on any
of the rust toolchain get confused if not managed by pacman. */ -}}
{{- if and (lookPath "cargo") (ne .chezmoi.osRelease.id "arch") }}
. $HOME/.cargo/env
{{- end }}

{{- if lookPath "pip" }}
export PATH="$HOME/.local/bin:$PATH"
{{- end }}

{{- if lookPath "go" }}
export PATH="$(go env GOPATH)/bin:$PATH"
{{- end }}
