export EDITOR="vim"

{{- if lookPath (joinPath .chezmoi.homeDir "/.cargo/env") }}
. $HOME/.cargo/env
{{- end }}

{{- if lookPath "pip" }}
export PATH="$HOME/.local/bin:$PATH"
{{- end }}

{{- if lookPath "go" }}
export PATH="$(go env GOPATH)/bin:$PATH"
{{- end }}
